#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#info-box {
    background-color: #fff;
    border: 1px solid #000;
    bottom: 40px;
    height: 40px;
    left: 30px;
    padding: 10px;
    position: relative;
    width: 20%;
    font-size: 80%;
}